<DragHandle @onStartDrag={{action "makeDraggable"}} @onStopDrag={{action "makeStill"}}></DragHandle>
<div class="awp-head">
  <div class="awp-name">
    <Input @value={{this.awp.name}} @change={{action 'saveAwp'}}/>
    {{#if this.awp.pc}}
      <button class="pc_button" {{action "addPc"}}></button>
    {{else if this.awp.pj}}
      <button class="pj_button" {{action "addPj"}}></button>
    {{/if}}
    {{#confirm-dialog
      text="Удалить рабочее место из блока?"
      confirmButton="Удалить"
      cancelButton="Отмена"
      dialogClass="cephalopod-dialog"
    }}
      <button class="awp-delete" {{action "deleteAwp"}}/>
    {{/confirm-dialog}}
  </div>
</div>
<ReSizable class="awp-pane" @width={{this.awp.width}} @height={{this.awp.height}} @grid={{grid}} @onResize={{action "resize"}}>
  {{#each awp.nodes as |node|}}
    {{#if this.awp.pc}}
      <PcEditor @node={{node}}/>
    {{else if this.awp.pj}}
      <PjEditor @node={{node}}/>
    {{/if}}
  {{/each}}
</ReSizable>


