<DragHandle @onStartDrag={{action "makeDraggable"}} @onStopDrag={{action "makeStill"}}></DragHandle>
<div class="block-name">
  <Input @value={{this.block.name}} @change={{action 'saveBlock'}}/>
  <button class="config_button" {{action "addAwpPc"}}>+ АРМ</button>
  <button class="config_button" {{action "addAwpPj"}}>+ проекторы</button>
</div>

<ReSizable class="block-pane" @width={{this.block.width}} @height={{this.block.height}} @minWidth=420 @minHeight=200 @grid={{grid}} @onResize={{action "resizeBlock"}}>
  {{#draggable-dropzone}}
    {{#each block.awps as |awp|}}
      <AwpEditor @awp={{awp}}  @addPc="addPc" @addPj="addPj"/>
    {{/each}}
  {{/draggable-dropzone}}
</ReSizable>
