<div class="block-name">{{block.name}}</div>
<div class="block-pane">
  {{#each block.awps as |awp|}}
    <NodesAwp @awp={{awp}}/>
  {{/each}}

  <div class="block-control">
    <span class="block-wakeup" role="button" {{action "blockWakeup" block}}></span>
    <span class="block-reboot" role="button" {{action "blockReboot"}}></span>
    <span class="block-shutdown" role="button" {{action "blockShutdown"}}></span>
  </div>

</div>
