<div class="block-name">{{awp.name}}</div>
<div class="block-pane">
  {{#each awp.nodes as |node|}}
    {{#if this.awp.pc}}
      <NodePc @node={{node}}/>
    {{else if this.awp.pj}}
      <NodePj @node={{node}}/>
    {{/if}}
  {{/each}}

  <div class="block-control">
    <span class="block-wakeup" role="button" {{action "awpWakeup" awp}}></span>
    <span class="block-reboot" role="button" {{action "awpReboot" awp}}></span>
    <span class="block-shutdown" role="button" {{action "awpShutdown" awp}}></span>
  </div>
</div>